body {
  margin: 0;
  background: black;
  overflow-x: hidden;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

* {
  font-family: 'Brandon Grotesque', sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  color: white;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  padding: 120px 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
header {
  background: rgba(223, 104, 104, 0.95);
  grid-column: 2 / span 5;
  font-size: 40px;
  padding: 32px;
  margin-right: 40px;
  border-radius: 100px;
  margin-bottom: 350px;

}
section {
  grid-column: 2 / 8;
  padding: 16px;
  background: rgba(223, 104, 104, 0.95);
  font-size: 20px;
  border-radius: 50px;
  line-height: 1.5;
  margin-bottom: 350px;
}

.left {
  grid-column: 6 / 12;
}
